body {
    background-color: #c7dad1;
    margin: 0;
}

.ddiv {

    /* 导航内容块 */
    display: inline-block;
    width: 300px;
    /* height: 10px; */
    text-align: center;
    background: rgb(136, 221, 179);
    border-radius: 5px;
    margin: 5px;
}
.ddiv:hover {
    /* 导航块伪类 */
    background: rgb(131, 175, 155);
    /* transform: translateY(-5px); */


}

a {

    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nemus {

    /* 菜单栏布局 */
    background-color: aquamarine;

    left: 10px;
    display: inline-block;
/* width: 8%; */
}

.menus a {

    display: block;
    text-align: center;

}

.menus ul {
    /* display: none; */
    padding: 0px;
    margin: 0px;
}

.content div {
    text-align: center;
}

.left {
    position: absolute;
    width: 10%;

}

.right {
    position: absolute;
    /* left: 10%; */
    margin-left: 25%;

    text-align:center;
    max-width: 1260px;
}

li {
    list-style: none;
    list-style-type: none;
    background-color: rgba(240, 92, 92, 0.226);
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: 5px ; */
    border-radius: 5px;

}

.menus div>a {
/* 一级菜单 */
    border: 5px solid #b4323228;

    border-radius: 5px;

}

.menus a:hover,
p:hover,
#button:hover {
    /* transform: translateY(-1px); */
    background-color: rgb(15, 128, 65);
}
p a{
/* 导航模块二级菜单的标题栏 */
background-color: rgba(100, 228, 117, 0.74);
padding-left: 5px;
padding-right: 5px;
border-radius: 5px;
color: #021a13bb;

}


#search {
    padding-top: 2%;
    padding-bottom: 1%;

}

#search * {
    padding: 0px;
    height: 2rem;
    vertical-align: middle;
}

#search select {
    background-color: transparent;
    border: 0px;
}

#search input {
    width: 25rem;
    border-radius: 5px;
}

.tips {
    /* 侧方提示文字 */
    top: 50px;
    position: fixed;
    right: 5px;
    writing-mode: vertical-rl;
}
.ddiv a div{
    /* 介绍栏样式 */
background-color:#13be8b28;
color: rgb(71, 82, 8);

}
#button{
    /* 搜索按钮样式 */
background-color: rgb(16, 12, 245);
padding: 5px;
color: rgb(23, 216, 216);

border-radius: 5px;

}
